:root {
  --mode-swap: 0.5s ease;
  --primary: #44318D;
  --secondary: #e779e7;
  --accent: #D83F87;
  --neutral: #A4B3B6;
  --base100: #2A1B3D;
  --info: #fcd34d;
  --success: #7fff00;
  --warning: #fb923c;
  --error: #f87171;
  --text: #f5f9ee;
}

.tiny5-regular {
  font-family: "Tiny5", sans-serif;
  font-weight: 400;
  font-style: normal;
}


/* Scrollbar styles */
::-webkit-scrollbar {
  width: 0px;
  }

.App {
  min-height: 100vh;
  text-align: left;
  background-color: var(--base100);
  color: var(--text);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 3vmin);
  padding-left: 20px;
  padding-right: 20px;
  margin-top: -20px;
  margin-bottom:-20px;
  background-color: var(--secondary);
  border-bottom: solid;
  border-color: var(--accent);
  
  font-family: "Tiny5";
}

.Param-area {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: start;
  justify-content: space-evenly;

  padding-bottom: 20px;
  max-height: 640px;
  max-width: 100vw;
  overflow:visible;
  
}

.Param-inputs {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 10px;
  padding-left: 20px;
  max-width: 50%;
  box-sizing: border-box;
}

.MandelbrotViewport {
  flex: 1 1 auto;
  padding: 10px;
  max-width: 50%;
  max-height: 50vw;
  box-sizing: border-box;
  overflow: hidden;
}

.Param-entries {
}

.Num-box {
  font-size: calc(6px + 2vmin);
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  width: 74%;
  padding: 10px;
}

/* .Num-box-label {
} */

.Num-box-input {
  font-size: calc(2vmin);
  margin-right: 20px;
}

.dbButtonContainer{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}
.dbButton{
  align-items: "center";
  justify-content: "center";
  padding: 10px;
  margin: 5px;
  border-radius: 8px;
  background-color: var(--accent);
}

.errorMessage{
  background-color: 'lightgreen';
  padding: 10px;
  margin: 5px;
  border-radius: 8px;

  background-color: var(--error);
}
.successMessage{
  background-color: 'lightgreen';
  padding: 10px;
  margin: 5px;
  border-radius: 8px;

  background-color: var(--success);
}

table {
  background-color: var(--primary);

  border: 1px solid;
  border-color: var(--secondary);
  border-radius: 4px;
  padding: 2px;
  max-width: 50vw;
  
  margin: 10px;
  margin-top: 20px;
  
}
th, td{

  border-color: var(--secondary);
  border: 1px solid;
  padding: 3px;
  font-size: 20px;
}
.deleterCell{
  background-color: var(--error);
}

.scrollBox{
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 40vh;
  overflow-y: scroll;
}

.verticalLine {
  border-left: thick solid var(--accent);
}